.container img {
  width: 300px;
  height: 40vh;
}

.container {
  margin: 10px;
  background-color: #ececec;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgb(189, 189, 189);
  width: 32%;
}

.container h3 {
  color: #696969;
  margin: 30px 20px 20px;
}

.container p {
  margin: 0 25px 20px;
  background-color: rgb(10, 145, 46);
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}
.quantity{
  display: flex;
  margin:10px;
  padding:10px;
  justify-content: space-around;
  align-items: center;
  border-top: 1px silver solid;
}
.quantity img{
  width :1.5rem;
  height: fit-content;
  cursor: pointer;
}
.quantity span{
  padding: 10px;
  background-color: darkmagenta;
  color: #fff;
  border-radius: 7px;
}
.disable{
  opacity: 0.3;
}